<template>
  <div>
    <div>
      <label>
        <gmap-autocomplete
          @place_changed="setPlace"
          placeholder="3 Nguyễn Đình Chiểu, Vĩnh Thọ, Thành phố Nha Trang, Khánh Hòa, Việt Nam ..."
          class="input" 
          style="width: 700px;" >
        </gmap-autocomplete>
        <button @click="addMarker">Chọn địa điểm</button>
        <transition name="fade">
            <error v-if="errorMessage" :errorMessage="errorMessage" @close="errorMessage = false"></error>
        </transition>
      </label>
      <br/>

    </div>
    <br>
    <gmap-map
      :center="center"
      :zoom="15"
      style="width:750px;  height: 250px;"
    >
      <gmap-marker
        :position="marker.position"
        @click="center=marker.position"
      ></gmap-marker>
    </gmap-map>
  </div>
</template>

<script>
export default {
  name: "GoogleMap",
  data() {
    return {
      // default to Montreal to keep it simple
      // change this to whatever makes sense
      center: { lat: 12.2387911, lng: 109.19674880000002 },
      marker: {},
      places: [],
      currentPlace: null,
      errorMessage: null
    };
  },

  mounted() {
    this.geolocate();
  },

  methods: {
    // receives a place object via the autocomplete component
    setPlace(place) {
      this.currentPlace = place;
    },
    addMarker() {
      if (this.currentPlace) {
        this.places = [];
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        };
        this.marker = { position: marker };
        this.places.push(this.currentPlace);
        this.center = marker;
        this.currentPlace = null;
        this.errorMessage = null;
        this.$emit("complete", {
          position: marker,
          address: this.places[0].formatted_address
        });
      } else {
        this.errorMessage =
          "Không thể tìm thấy địa điểm trên, vui lòng chọn lại";
      }
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
      });
    }
  },
  components: {
    error: require("../Error.vue")
  }
};
</script>