<template>
    <div class="google-map">

    <gmap-map
    :center="center"
    :zoom="15"
    style="width:100%;  height: 200px;"
    >
      <gmap-marker
        :position="marker.position"
        @click="center=marker.position"
      ></gmap-marker>
    </gmap-map>
    </div>
</template>

<script>
export default {
  name: "google-map",
  props: ["name", "markerCoordinates"],
  data() {
    return {
      center: { lat: 12.2387911, lng: 109.19674880000002 },
      marker: {}
    };
  },
  mounted: function() {
    const marker = {lat: Number(this.markerCoordinates[0].latitude),
                    lng: Number(this.markerCoordinates[0].longitude)}
    this.marker = { position: marker };
    this.center = marker;
  },
  methods: {}
};
</script>

<style scoped>
.google-map {
  width: 750px;
  height: 200px;
  margin: 0px auto;
  background: gray;
  margin-left: 0px;
}
</style>