<template>
    <ul class="breadcrumb">
        <router-link v-for="(route, index) in path" tag="li" :to="route.path" :key="index" exact><a> {{ route.name }} </a></router-link>
    </ul>
</template>

<script>
    export default {
        props: ['path']
    }
</script>

