<template>
<div>
    <transition name="modal">
        <div class="modal-mask confirmation-modal">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-body">
                        <div class="field">
                            <slot>
                                <p class="control">
                                    Bạn có chắc chắn xóa bình luận này không?
                                </p>
                            </slot>
                        </div>                
                    </div>

                    <div class="modal-footer">
                        <div class="field is-grouped">
                            <p class="control" style="left: -70px">
                                <button class="button is-danger" @click="$emit('confirm')">Có</button>
                            </p>
                            <p class="control" id="close-modal-button">
                                <button class="button" @click="$emit('close')">Không</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>
</template>

<script>
    export default {

    }
</script>