<template>
    <div class="house">
        <article class="media">
            <figure class="media-left is-hidden-mobile">
                <p class="image is-48x48" v-if="house.user.profile">
                    <img :src="house.user.profile.avatar">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p class="title is-4 thread-title" @click="$emit('clicked')">
                        <slot></slot>
                    </p>
                    <slot name="house"></slot>
                    <span class="created-at">{{house.created_at | fromNow}}</span>
                    được giới thiệu bởi
                    <strong class="created-by">
                        <router-link :to="'/@'+house.user.username">{{house.user.username}}</router-link>
                    </strong>
                </div>
                <slot name="address" v-if="!edit"></slot>
                <slot name="area" v-if="!edit"></slot>
                <slot name="price" v-if="!edit"></slot>
                <slot name="other" v-if="!edit"></slot>
                <slot name="body" v-if="!edit"></slot>
                <div class="edit-thread-form" v-if="edit">
                    <!-- content -->
                    <div class="field">
                        <label class="label">Tên </label>
                        <p class="control">
                            <input autocomplete="off" v-model="editForm.name" class="input" type="text" placeholder="Tên nhà..." name="name" required>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Kiểu cho thuê </label>
                        <p class="control">
                            <select v-model="house_type_selected" class="input">
                                <option v-for="(house_type, index) in $root.house_types" :key="index" :value='house_type'>
                                    {{house_type.name}}
                                </option>
                            </select>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Địa chỉ: (Hiện tại: {{ editForm.address }})</label>
                        <gg-maps-autocomplete @complete="chooseLatAndLng"></gg-maps-autocomplete>
                    </div>
                    <div class="field">
                        <label class="label">Diện tích (m2) </label>
                        <p class="control">
                            <input autocomplete="off" @scroll="event.preventDefault()" v-model="editForm.area" class="input" type="number" min="1" placeholder="Diện tích..."
                                name="area" required>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Giá (VND) </label>
                        <p class="control">
                            <input autocomplete="off" @scroll="event.preventDefault()" v-model="editForm.price" style="max-width: 500px" class="input" type="number"
                                min="1" placeholder="VND..." name="price" required>
                            <span class="select">
                                <select name="channel" v-model="editForm.price_time_unit">
                                    <option value='năm'>/năm</option>
                                    <option value='tháng'>/tháng</option>
                                    <option value='ngày'>/ngày</option>
                                    <option value='giờ'>/giờ</option>
                                </select>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Các tiện lợi mở rộng</label>
                        <p class="control">
                            <textarea v-model="editForm.other" class="textarea" placeholder="Wifi, nhà để xe, ..." name="other"></textarea>
                        </p>
                    </div>
                    <!-- end content -->
                    <div class="field is-grouped">
                        <p class="control">
                            <button class="button is-primary" id="edit-thread-message" type="button" @click="editHouse()">
                                Cập nhật
                            </button>
                        </p>
                        <p class="control" id="clear-form-button">
                            <button class="button is-default" type="button" @click="edit = false;">Hủy</button>
                        </p>
                    </div>
                </div>
                <hr>
            </div>
            <div class="house-modifiers" v-if="house.user.username === $root.user.username">
                <a class="house-edit" @click="showEditForm()">
                    <span class="icon">
                        <i class="fa fa-pencil"></i>
                    </span>
                </a>
                <a class="house-delete" @click="confirm = true">
                    <span class="icon">
                        <i class="fa fa-trash-o"></i>
                    </span>
                </a>
            </div>
            <div class="house-admin" v-if="$root.user.isAdmin">
                <button class="house-admin-delete button is-danger" @click="confirmRemove = true">
                    Xóa
                </button>
            </div>
            <confirmation-modal v-if="confirmRemove" @confirm="removeHouse(house.slug); confirmRemove = false" @close="confirmRemove = false">
                <p class="control">
                    Xóa nhà trọ này?
                </p>
            </confirmation-modal>

            <confirmation-modal v-if="confirm" @confirm="deleteHouse(house.slug); confirm = false" @close="confirm = false">
                <p class="control">
                    Bạn có muốn xóa địa điểm này không?
                </p>
            </confirmation-modal>
            <!-- <span class="reply-count replies-count is-hidden-mobile">
                {{house.replies_count}} bình luận
            </span> -->
        </article>
        <div id="messages">
            <transition name="fade">
                <error v-if="errorMessage" :errorMessage="errorMessage" @close="errorMessage = false"></error>
            </transition>
        </div>
    </div>
</template>

<script>
import showNotificationsMixin from "../mixins/showNotificationsMixin";
export default {
  props: ["house"],
  data() {
    return {
      confirm: false,
      confirmRemove: false,
      editForm: {
        name: null,
        address: null,
        area: null,
        price: null,
        price_time_unit: null,
        other: null,
        latitude: null,
        longitude: null
      },
      house_type_selected: null,
      edit: false,
      errorMessage: false,
      successMessage: false
    };
  },
  mixins: [showNotificationsMixin],
  components: {
    confirmationModal: require("./ConfirmationModal.vue"),
    error: require("./Error.vue"),
    success: require("./Success.vue"),
    "gg-maps-autocomplete": require("./GoogleMap/Auto-complete")
  },
  mounted() {},
  methods: {
    removeHouse(houseSlug) {
      axios
        .delete("/admin/houses/" + houseSlug)
        .then(response => {
          if (this.$route.name === "house_type") {
            this.$parent.houses = [];
            this.$parent.getHouses();
            this.$root.getHouseOfMine();
          } else {
            this.$router.push({ path: "/#/@" + this.$root.username });
          }
        })

        .catch(error => {
          this.showError(error);
        });
    },
    editHouse() {
      let valid = true;
      for (const key in this.editForm) {
        if (this.editForm[key] == "" || this.editForm[key] == null) {
          valid = false;
          break;
        }
      }
      if (valid) {
        axios
          .patch(
            "houses/" + this.house_type_selected.slug + "/" + this.house.slug,
            {
              name: this.editForm.name,
              address: this.editForm.address,
              area: this.editForm.area,
              price: this.editForm.price,
              price_time_unit: this.editForm.price_time_unit,
              other: this.editForm.other,
              latitude: this.editForm.latitude,
              longitude: this.editForm.longitude
            }
          )
          .then(res => {
            this.edit = false;
            this.$emit("edit-complete", {
              house: res.data,
              house_type: this.house_type_selected
            });
            this.$root.getHouseOfMine();
          })
          .catch(error => {
            this.showError(error);
          });
      }
    },

    deleteHouse(houseSlug) {
      axios
        .delete("houses/" + houseSlug)
        .then(response => {
          if (this.$route.name === "house_type") {
            this.$parent.houses = [];
            this.$parent.getHouses();
            this.$root.getHouseOfMine();
          } else {
            this.$router.push({ path: "/@" + this.$root.username });
          }
        })
        .catch(error => {
          this.showError(error);
        });
    },
    showEditForm() {
      this.edit = true;
      this.house_type_selected = null;
      const keyArrNotAllow = [
        "user_id",
        "house_type_id",
        "created_at",
        "updated_at",
        "slug",
        "id"
      ];
      for (const key in this.house) {
        if (
          typeof this.house[key] !== "object" &&
          !keyArrNotAllow.includes(key)
        ) {
          this.editForm[key] = this.house[key];
        }
      }
      this.house_type_selected = this.$root.house_types.filter(
        ht => ht.slug == this.house.house_type.slug
      )[0];
    },
    chooseLatAndLng(e) {
      this.editForm.latitude = e.position.lat;
      this.editForm.longitude = e.position.lng;
      this.editForm.address = e.address;
    }
  },
  watch: {
    house() {
      this.house_type_selected = null;
      const keyArrNotAllow = [
        "user_id",
        "house_type_id",
        "created_at",
        "updated_at",
        "slug",
        "id"
      ];
      for (const key in this.house) {
        if (
          typeof this.house[key] !== "object" &&
          !keyArrNotAllow.includes(key)
        ) {
          this.editForm[key] = this.house[key];
        }
      }
      this.house_type_selected = this.$root.house_types.filter(
        ht => ht.slug == this.house.house_type.slug
      )[0];
    }
  }
};
</script>