<template>
    <article class="media" id="new-reply-form">
        <figure class="media-left is-hidden-mobile">
            <p class="image is-64x64">
                <img :src="$root.user.profile.avatar">
            </p>
        </figure>
        <div class="media-content">
            <div class="field">
                <p class="control">
                    <textarea v-model="form.body" class="textarea" placeholder="Thêm bình luận mới...." name="body" required></textarea>
                </p>
            </div>
            <div class="field" v-if="$root.my_houses.length > 0">
                <p class="control" v-if="!isShowHouse">
                    <button class="button" @click="isShowHouse = true">Giới thiệu địa điểm của bạn</button>
                </p>
            </div>
            <div class="field" v-if="isShowHouse">
                <label class="label">Chọn địa điểm</label>
                <p class="control">
                    <span class="select">
                        <select name="channel" v-model="form.house_id" required>
                            <option v-for="(house, index) in $root.my_houses" :value="house.id" :key="index">{{house.name}}</option>
                        </select>
                    </span>
                    <span class="control" v-if="isShowHouse">
                        <button class="button" @click="destroyHouse()">Hủy</button>
                    </span>
                </p>
            </div>
            <div class="field is-grouped" style="float:right;">
                <p class="control">
                    <button class="button is-primary" id="new-reply-button" type="button" @click="sendPost">Đăng</button>
                </p>
            </div>
        </div>
    </article>
</template>

<script>
import Form from "../models/Form";
import isLoggedMixin from "../mixins/IsLoggedMixin";

export default {
  props: ["thread"],
  data() {
    return {
      form: new Form({
        body: "",
        house_id: null
      }),
      isShowHouse: false,
      houses: null
    };
  },

  mixins: [isLoggedMixin],

  methods: {
    sendPost() {
      if (this.form.body.length == 0 && this.form.house_id == null) {
        return;
      } else {
        var vm = this;
        this.form
          .post("/threads/" + this.thread + "/replies")
          .then(response => {
            vm.$emit("posted");
          })
          .catch(error => {
            let out = "";
            Object.keys(error).forEach(field => (out += error[field] + "\n"));
            this.$emit("error", out);
          });
      }
    },
    destroyHouse() {
      this.isShowHouse = false;
      this.form.house_id = null;
    }
  }
};
</script>