<template>
    <article class="media replies">
        <figure class="media-left is-hidden-mobile">
            <p class="image is-32x32">
                <img :src="reply.creator.profile.avatar">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <slot name="username"></slot>
                <span class="created-at">{{reply.updatedAt | fromNow}}</span>
                <slot name="body" v-if="!edit"></slot>
                <confirmation-modal v-if="confirmRemove" @confirm="$emit('remove', reply.id); confirmRemove = false" @close="confirmRemove = false">
                    <p class="control">
                        Bạn có chắc muốn xóa phản hồi này không?
                    </p>
                </confirmation-modal>
                <div class="edit-reply-form" v-if="edit">
                    <div class="field">
                        <textarea class="textarea" name="reply-message" v-model="replyMessage" required></textarea>
                    </div>
                    <div class="field" v-if="$root.my_houses.length > 0 && replyHouse == null">
                        <p class="control" v-if="!isShowHouse">
                            <button class="button" @click="isShowHouse = true">Gắn địa điểm của bạn</button>
                        </p>
                    </div>
                    <div class="field" v-if="isShowHouse || replyHouse != null">
                        <label class="label">Chọn địa điểm</label>
                        <p class="control">
                            <span class="select">
                                <select name="channel" v-model="replyHouse">
                                    <option v-for="(house, index) in $root.my_houses" :value="house.id" :key="index">{{house.name}}</option>
                                </select>
                            </span>
                            <span class="control">
                                <button class="button" @click="replyHouse = null; isShowHouse = false">Hủy</button>
                            </span>
                        </p>
                    </div>
                    <div class="field is-grouped">
                        <p class="control">
                            <button class="button is-primary" :disabled="(replyMessage == null || replyMessage == '') && replyHouse == null" id="new-reply-button" type="button" @click="$emit('edit', replyMessage, replyHouse, reply.id); edit = false; reply.body = replyMessage; reply.house_id = replyHouse">
                                Cập nhật phản hồi
                            </button>
                        </p>
                        <p class="control" id="clear-form-button">
                            <button class="button is-default" type="button" @click="replyMessage = reply.body; replyHouse = reply.house_id; edit = false;">Hủy</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="reply-admin" v-if="$root.user.isAdmin">
            <button class="thread-admin-delete button is-danger" @click="confirmRemove = true;">
                Xóa
            </button>
        </div>
        <div class="reply-modifiers" v-if="reply.creator.username === $root.user.username">
            <a class="reply-edit" @click="onEdit(reply)">
                <span class="icon">
                    <i class="fa fa-pencil"></i>
                </span>
            </a>
            <a class="reply-delete" @click="confirm = true;">
                <span class="icon">
                    <i class="fa fa-trash-o"></i>
                </span>
            </a>
            <confirmation-modal v-if="confirm" @confirm="$emit('delete', reply.id); confirm = false; edit = false" @close="confirm = false"></confirmation-modal>
        </div>
    </article>
</template>

<script>
    export default {
        props: ["reply"],
        data() {
            return {
                edit: false,
                replyMessage: this.reply.body,
                replyHouse: this.reply.house_id,
                confirm: false,
                confirmRemove: false,
                isShowHouse: false,
            };
        },
        methods: {
            onEdit (reply) {
                this.edit = true;
            }
        },
        watch: {
            reply () {
                this.replyMessage = this.reply.body;
                this.replyHouse = this.reply.house_id;
            }
        },
        components: {
            confirmationModal: require("./ConfirmationModal.vue")
        }
    };
</script>