<template>
    <div class="thread">
        <article class="media">
            <figure class="media-left is-hidden-mobile">
                <p class="image is-48x48" v-if="thread.creator.profile">
                    <img :src="thread.creator.profile.avatar">
                </p>
            </figure>
            <div class="media-content" :class="{'thread-if-reply-counter': thread.replies_count !== undefined}">
                <div class="content">
                    <p class="title is-4 thread-title" @click="$emit('clicked')">
                        <slot></slot>
                    </p>
                    <slot name="channel"></slot>
                    <span class="created-at">{{thread.created_at | fromNow}}</span>
                    đăng bởi
                    <strong class="created-by">
                        <router-link :to="'/@'+thread.creator.username">{{thread.creator.username}}</router-link>
                    </strong>
                    <slot name="body" v-if="!edit"></slot>
                    <slot name="house" v-if="!edit"></slot>
                    <div class="edit-thread-form" v-if="edit">
                        <div class="field">
                            <textarea class="textarea" name="thread-message" v-model="threadMessage" required></textarea>
                        </div>
                        <div class="field" v-if="$root.my_houses.length > 0 && threadHouse == null">
                            <p class="control" v-if="!isShowHouse">
                                <button class="button" @click="isShowHouse = true">Gắn địa điểm của bạn vào bài viết</button>
                            </p>
                        </div>
                        <div class="field" v-if="isShowHouse || threadHouse != null">
                            <label class="label">Cập nhật địa điểm</label>
                            <p class="control">
                                <span class="select">
                                    <select name="channel" v-model="threadHouse">
                                        <option v-for="(house, index) in $root.my_houses" :value="house.id" :key="index">{{house.name}}</option>
                                    </select>
                                </span>
                                <span class="control">
                                    <button class="button" @click="destroyHouse()">Hủy</button>
                                </span>
                            </p>
                            <div class="column is-9" v-if="houseSelected">
                                <p slot="address" class="house-body">- Địa chỉ:
                                    <strong>{{ houseSelected.address }}</strong>
                                </p>
                                <p slot="body" class="thread-body">
                                    <gmap-map :center="housePosition" :zoom="15" style="width:750px;  height: 250px;">
                                        <gmap-marker :position="housePosition" @click="center=housePosition"></gmap-marker>
                                    </gmap-map>
                                </p>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <p class="control">
                                <button class="button is-primary" id="edit-thread-message" type="button" 
                                @click="editThread(threadMessage, thread.slug, threadHouse); edit = false; thread.body = threadMessage; thread.house_id = threadHouse; thread.house = houseSelected">
                                    Cập nhật bài đăng
                                </button>
                            </p>
                            <p class="control" id="clear-form-button">
                                <button class="button is-default" type="button" @click="threadMessage = thread.body; threadHouse = thread.house_id; edit = false;">Hủy</button>
                            </p>
                        </div>
                    </div>
                    <span class="reply-count replies-count is-hidden-mobile" style="float: right; margin-right: 50px;">
                        {{thread.replies_count}} bình luận
                    </span>
                </div>
            </div>
            <div class="thread-admin" v-if="$root.user.isAdmin">
                <button class="thread-admin-delete button is-danger" @click="confirmRemove = true">
                    Xóa
                </button>
            </div>
            <confirmation-modal v-if="confirmRemove" @confirm="removeThread(thread.slug); confirmRemove = false" @close="confirmRemove = false">
                <p class="control">
                    Xóa bài đăng này?
                </p>
            </confirmation-modal>
            <div class="thread-modifiers" v-if="thread.creator.username === $root.user.username">
                <a class="thread-edit" @click="edit = true;">
                    <span class="icon">
                        <i class="fa fa-pencil"></i>
                    </span>
                </a>
                <a class="thread-delete" @click="confirm = true">
                    <span class="icon">
                        <i class="fa fa-trash-o"></i>
                    </span>
                </a>

            </div>
            <confirmation-modal v-if="confirm" @confirm="deleteThread(thread.slug); confirm = false" @close="confirm = false">
                <p class="control">
                    Bạn có muốn xóa bài đăng của bạn không?
                </p>
            </confirmation-modal>

        </article>
        <div id="messages">
            <transition name="fade">
                <error v-if="errorMessage" :errorMessage="errorMessage" @close="errorMessage = false"></error>
            </transition>
        </div>
    </div>
</template>

<script>
import showNotificationsMixin from "../mixins/showNotificationsMixin";
export default {
  props: ["thread"],
  data() {
    return {
      confirm: false,
      confirmRemove: false,
      threadMessage: this.thread.body,
      threadHouse: this.thread.house_id,
      edit: false,
      errorMessage: false,
      successMessage: false,
      isShowHouse: false,
      houseSelected: null,
      housePosition: null
    };
  },
  mixins: [showNotificationsMixin],
  components: {
    confirmationModal: require("./ConfirmationModal.vue"),
    error: require("./Error.vue"),
    success: require("./Success.vue")
  },
  mounted() {},
  methods: {
    removeThread(threadSlug) {
      axios
        .delete("/admin/threads/" + threadSlug)
        .then(response => {
          if (this.$route.name === "home") {
            this.$parent.threads = [];
            this.$parent.getLatestThreads();
          } else {
            this.$router.push({
              name: "home"
            });
          }
        })

        .catch(error => {
          this.showError(error);
        });
    },
    editThread(threadMessage, threadSlug, threadHouse) {
        this.getSelectedHouse();
      if (threadMessage.length < 10) {
        this.showError("Tối thiểu 10 ký tự");
        this.threadMessage = this.thread.body;
        this.threadHouse = this.thread.house_id;
        return;
      }
      axios
        .patch("threads/" + threadSlug, {
          body: threadMessage,
          house_id: threadHouse
        })
        .catch(error => {
          this.showError(error.data);
        });
    },

    deleteThread(threadSlug) {
      axios
        .delete("threads/" + threadSlug)
        .then(response => {
          if (this.$route.name === "home") {
            this.$parent.threads = [];
            this.$parent.getLatestThreads();
          } else {
            this.$router.push({
              name: "home"
            });
          }
        })
        .catch(error => {
          this.showError(error);
        });
    },
    getSelectedHouse() {
      this.houseSelected = this.$root.my_houses.filter(
        h => h.id === this.threadHouse
      )[0];
      this.housePosition = {
        lat: Number(this.houseSelected.latitude),
        lng: Number(this.houseSelected.longitude)
      };
    },
    destroyHouse() {
      this.isShowHouse = false;
      this.threadHouse = null;
    },
    showHouse() {
      this.isShowHouse = false;
    }
  }
};
</script>