<template>
    <div class="thread columns">
        <article class="media column is-10">
            <div class="media-content">
                <div class="content">
                    <p class="title is-4 thread-title" @click="goToChannel"><a>{{truncate}}</a></p>
                </div>
            </div>
            <confirmation-modal v-if="confirm" @confirm="$emit('delete', channel.slug); confirm = false" @close="confirm = false">
                {{confirmationMessage}}
            </confirmation-modal>
        </article>
        <div class="column is-2">
            <button class="thread-admin-delete button is-danger" @click="askConfirmationDelete">
                Xóa
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        
        props: ['channel'],
        data() {
            return {
                confirm: false
            }
        },
        methods: {
            markdown(text){
                return marked(text, {sanitize: true});
            },
            goToChannel() {
                this.$router.push({ path: '/' + this.channel.slug});
            },
            askConfirmationDelete() {
                this.confirmationMessage = 'Bạn có chắc chắn xóa chủ đề này?';
                this.confirm = true;
            }
        },
        computed: {
            truncate() {
                if (this.channel.name.length <= 40) return this.channel.name;
                return this.channel.name.substring(0, 40) + '...';
            }
        },
        components: {
            'confirmationModal': require('../ConfirmationModal.vue'),
        }
    }
</script>