<template>
    <div class="column is-9">
        <form @submit.prevent="sendPost">
            <div class="field">
                <label class="label">Tên chủ đề</label>
                <p class="control">
                    <input v-model="form.name" class="input" type="text" placeholder="Chủ đề..." name="name" required>
                </p>
            </div>
            <div class="field">
                <label class="label">Mô tả</label>
                <p class="control">
                    <textarea v-model="form.description" class="textarea" placeholder="Mô tả..." name="description" required></textarea>
                </p>
            </div>
            <div class="field is-grouped">
                <p class="control">
                    <button class="button is-primary" type="submit">Tạo</button>
                </p>
                <p class="control">
                    <button class="button is-link" @click="$router.push({name: 'admin-threads'})">Hủy</button>   
                </p>
            </div>
        </form> 
        <transition name="fade">
            <error v-if="errorMessage" :errorMessage="errorMessage" @close="errorMessage = false"></error>
        </transition>
    </div>        
</template>

<script>
    import Form from '../../models/Form';
    import isLoggedMixin from '../../mixins/IsLoggedMixin';
    import showNotificationsMixin from '../../mixins/showNotificationsMixin';

    export default {
        data(){
            return {
                form: new Form({
                    name: '',
                    description: '',
                }),
                errorMessage: false
            }
        },
        mixins:[isLoggedMixin, showNotificationsMixin],
        beforeRouteEnter: (to, from, next) => {
            next(vm => {
                vm.$root.user.isAdmin ? next() : next('/');
            });
        },
        created(){
            this.$root.path.update(this.$route.path);
        },
        methods: {
            sendPost(){
                var vm = this;
                this.form.post('/admin/channels')
                .then(response => this.$emit('success', response))
                .catch(error => {
                    let out = '';
                    Object.keys(error).forEach(field => out += error[field] +'\n' );
                    this.showError(out);
                });
            }
        },
        components: {
            'error': require('../../components/Error.vue')
        }
    }
</script>