<template>
    <div class="replies columns">
        <article class="media replies">
            <figure class="media-left is-hidden-mobile">
                <p class="image is-32x32">
                    <img :src="reply.creator.profile.avatar">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p class="reply-creator">
                        <router-link :to="'/@'+reply.creator.username">{{reply.creator.username}}</router-link>
                        <span style="fontSize: 12px;">đã phản hồi trong </span>
                        <p class="title is-6 thread-title" @click="goToThread">
                            <a>{{reply.thread.title}}</a>
                        </p>
                    <span class="created-at">{{reply.updatedAt | fromNow}}</span>
                    <p class="reply-body" v-html="markdown(truncate)"></p>
                </div>
            </div>
            <confirmation-modal v-if="confirm" @confirm="$emit('delete', reply.id); confirm = false" @close="confirm = false">
                {{confirmationMessage}}
            </confirmation-modal>
        </article>
        <div class="column is-2">
            <button class="reply-admin-delete button is-danger" @click="askConfirmationDelete">
                Xóa
            </button>
        </div>

        <hr>
    </div>





</template>

<script>
export default {
  props: ["reply"],
  data() {
    return {
      confirm: false
    };
  },
  methods: {
    markdown(text) {
      if(text == null) text = "";
      return marked(text, {
        sanitize: true
      });
    },
    askConfirmationDelete() {
      this.confirmationMessage = "Bạn có chắc muốn xóa bình luận này?";
      this.confirm = true;
    },
    goToThread() {
      this.$router.push({
        path:
          "/" + this.reply.thread.channel.slug + "/" + this.reply.thread.slug
      });
    }
  },
  computed: {
    truncate() {
      if (this.reply.body) {
        if (this.reply.body.length <= 100) return this.reply.body;
        return this.reply.body.substring(0, 100) + "...";
      }
    }
  },
  components: {
    confirmationModal: require("../ConfirmationModal.vue")
  }
};
</script>