<template>
    <div class="user columns">
        <article class="media column is-4">
            <div class="media-content">
                <div class="content">
                    <p class="username is-4" @click="goToUser(user.username)">{{user.username}}</p>
                    <p class="joined-at">{{user.created_at | fromNow}}</p>
                    <p class="status" :class="statusClass">{{user.status.status | capitalize}} 
                        <span v-if="user.status.status === 'banned'">{{user.status.until | bannedFor}}</span>
                    </p>
                    
                </div>
            </div>
        </article>
        <div class="suspend-wrapper column is-8 columns">
            <div class="column is-3">
                <button class="user-admin-ban button is-danger" v-if="user.status.status === 'active'" @click="days=6000; askConfirmationSuspend()">
                    Khóa
                </button>
                <button class="user-admin-enable button is-success" @click="askConfirmationEnable" v-else>
                    Mở khóa
                </button>
            </div>
            <div class="column is-9">
                <div class="field has-addons">
                    <p class="control">
                        <input v-model="days" class="input suspension-time-input"
                        type="number" placeholder="Số ngày?">
                    </p>
                    <p class="control">
                        <button class="user-admin-suspend button is-warning" @click="askConfirmationSuspend">
                            Đình chỉ
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <confirmation-modal v-if="confirmation" @confirm="$emit(action, user.username, days); resetData();
        " @close="resetData">
            {{confirmationMessage}}
        </confirmation-modal>
        <hr>
    </div>
</template>

<script>
    export default {
        props: ['user'],
        data() {
            return {
                days: '',
                action: '',
                confirmationMessage: '',
                confirmation: false,
            }
        },
        methods: {
            askConfirmationSuspend() {
                this.action = 'suspend';
                this.confirmationMessage = 'Bạn có muốn đình chỉ ' + this.user.username + ' trong ' + this.days + ' ngày không?';
                this.confirmation = true;
            },
            askConfirmationEnable() {
                this.action = 'enable';
                this.confirmationMessage = 'Bạn có muốn cho phép ' + this.user.username + 'hoạt động trở lại không?';
                this.confirmation = true;
            },
            resetData(){
                this.action = null;
                this.confirmation = false;
                this.days = '';
                this.confirmationMessage = '';
            },
            goToUser (username) {
                this.$router.push({path: '/@'+username});
            }
        },
        computed: {
            statusClass() {
                return this.user.status.status === 'active' ? 'user-is-active' : 'user-is-banned';
            }
        },
        components: {
            'confirmationModal': require('../ConfirmationModal')
        }
    }
</script>