<template>
    <div class="column is-9" v-if="house">
        <house :house="house" @edit-complete="getHouseEdited">{{ house.name }} 
            <router-link slot="house" :to="'/channels/house_type/' + house.house_type.slug" class="house-link">{{house.house_type.name}}</router-link>
            <p slot="address" class="house-body">- Địa chỉ: <strong>{{ house.address }}</strong></p>
            <p slot="area" class="house-body">- Diện tích: <strong>{{ house.area }} m2</strong></p>
            <p slot="price" class="house-body">- Giá: <strong>{{ house.price }} VNĐ /{{ house.price_time_unit }}</strong></p>
            <template slot="other" class="house-body">
            <p class="house-body" v-for="(line, index) in lineBreaked(house.other)" :key="index" v-html="markdown(line)"></p>
            </template>
            <p slot="body" class="thread-body">
                <google_map :name="house.name" :marker-coordinates="[{latitude: house.latitude, longitude: house.longitude}]"></google_map>
            </p>
        </house>
        <hr>
        <transition name="fade">
            <error v-if="errorMessage" :errorMessage="errorMessage" @close="errorMessage = false"></error>
        </transition>
    </div>
</template>

<script>
import House from "../models/House";
import isLoggedMixin from "../mixins/IsLoggedMixin";
import showNotificationsMixin from "../mixins/showNotificationsMixin";

export default {
  data() {
    return {
      house: null,
      housePath: this.$route.params.house,
      houseType: this.$route.params.house_type,
      isLogged: false,
      errorMessage: false
    };
  },

  mixins: [isLoggedMixin, showNotificationsMixin],

  created() {
    this.getHouse();
    this.checkIfLogged()
      .then(response => {
        this.isLogged = response ? response.username : false;
      })
      .catch(error => {
        this.isLogged = false;
        console.log(error);
      });
    this.$root.path.update(this.$route.path);
  },
  methods: {
    getHouse() {
      var vm = this;
      axios
        .get("/house_types/" + this.houseType + "/" + this.housePath)
        .then(response => {
          if (response.data) vm.house = new House(response.data);
        })
        .catch(error => console.log(error));
    },
    lineBreaked (text) {
        return (text || "").split('\n');
    },
    markdown(text) {
      if(text === null) text = "";
      return marked(text, { sanitize: true });
    },
    getHouseEdited (params) {
      var vm = this;
      axios
        .get("/house_types/" + params.house_type.slug + "/" + params.house.slug)
        .then(response => {
          if (response.data) vm.house = new House(response.data);
          this.$root.path.update('/house/' + params.house_type.slug + '/' + params.house.slug);
          this.$router.push('/house/' + params.house_type.slug + '/' + params.house.slug);
        })
        .catch(error => console.log(error));
    }
  },
  components: {
    house: require("../components/House.vue"),
    error: require("../components/Error.vue"),
    google_map: require("../components/GoogleMap/Marked.vue")
  }
};
</script>