<template>
  <div class="container">
    <paginate v-if="totalRecord > perPage" :current="currentPage" :perPage="perPage" :posts="totalRecord" @pageClicked="currentPage = $event; this.VueScrollTo.scrollTo('.column.is-9');">
    </paginate>
    <h3 class="title is-3" v-if="totalRecord">{{houseTypeTitle}}</h3>
    <house v-for="(house, index) in houses" @clicked="goToHouse(house)" :key="index" :house="house" @edit-complete="getHouses()">
      <a>{{house.name}}</a>
      <router-link slot="house" :to="'/channels/house_type/' + house.house_type.slug" class="house-link">{{house.house_type.name}}</router-link>
      <p slot="address" class="house-body">- Địa chỉ:
        <strong>{{ house.address }}</strong>
      </p>
      <p slot="area" class="house-body">- Diện tích:
        <strong>{{ house.area }} m2</strong>
      </p>
      <p slot="price" class="house-body">- Giá:
        <strong>{{ house.price }} VNĐ /{{ house.price_time_unit }}</strong>
      </p>
      <p slot="other" class="house-body" v-html="markdown(house.other)"></p>
      <p slot="body" class="thread-body">
        <google_map :name="house.name" :marker-coordinates="[{latitude: house.latitude, longitude: house.longitude}]"></google_map>
      </p>
    </house>
    <paginate v-if="totalRecord > perPage" :current="currentPage" :perPage="perPage" :posts="totalRecord" @pageClicked="currentPage = $event; this.VueScrollTo.scrollTo('.column.is-9');">
    </paginate>
  </div>
</template>

<script>
import House from "../models/House";
import isLoggedMixin from "../mixins/IsLoggedMixin";
var VueScrollTo = require("vue-scrollto");

export default {
  data() {
    return {
      houses: [],
      isLogged: false,
      houseType: this.$route.params.house_type,
      currentPage: 1,
      perPage: 10,
      totalRecord: 0,
      houseTypeTitle: "",
      markerCoordinates: []
    };
  },
  watch: {
    $route: function() {
      this.houseType = this.$route.params.house_type;
      this.houses = [];
      this.currentPage = 1;
      this.getHouses();
      this.$root.path.update(this.$route.path);
    },
    currentPage() {
      this.getHouses();
    }
  },
  mixins: [isLoggedMixin],

  created() {
    this.getHouses();
    this.checkIfLogged()
      .then(response => (this.isLogged = response))
      .catch(error => {
        this.isLogged = false;
        console.log(error);
      });
    this.$root.path.update(this.$route.path);
  },
  methods: {
    getHouses() {
      var vm = this;
      this.houses = [];
      axios
        .get(
          "/house_types/" +
            this.houseType +
            "/houses/" +
            this.perPage +
            "?page=" +
            this.currentPage
        )
        .then(response => {
          response.data.data.forEach(house => {
            vm.houses.push(new House(house));
          });
          this.totalRecord = response.data.total;
          this.houseTypeTitle = response.data.data[0].house_type.name;
        })
        .catch(error => console.log(error));
    },

    goToHouse(house) {
      this.$router.push({
        path: "/house/" + house.house_type.slug + "/" + house.slug
      });
    },
    markdown(text) {
      if(text === null) text = "";
      return marked(text, { sanitize: true });
    }
  },
  components: {
    house: require("../components/House.vue"),
    paginate: require("../components/Paginate.vue"),
    google_map: require("../components/GoogleMap/Marked.vue")
  },
  mounted() {}
};
</script>