<template>
    <div class="column is-9" style="max-width: 750px">
        <div class="field">
            <label class="label">Tiêu đề</label>
            <p class="control">
                <input v-model="form.title" class="input" type="text" placeholder="Chủ đề..." name="title" autocomplete="off" required>
            </p>
        </div>
        <div class="field">
            <label class="label">Chọn 1 chủ đề</label>
            <p class="control">
                <span class="select">
                    <select name="channel" v-model="channel" required>
                        <option v-for="(channel, index) in $root.channels" :value="channel.slug" :key="index">{{channel.name}}</option>
                    </select>
                </span>
            </p>
        </div>
        <div class="field">
            <label class="label">Nội dung</label>
            <p class="control">
                <textarea v-model="form.body" class="textarea" placeholder="Nội dung..." minlength="10" name="body"></textarea>
            </p>
        </div>
        <div class="field">
            <p class="control" v-if="!isShowHouse">
                <button class="button" @click="isShowHouse = true">Thêm địa điểm của bạn vào bài viết</button>
            </p>
        </div>
        <div class="field" v-if="isShowHouse">
            <label class="label">Chọn địa điểm</label>
            <p class="control">
                <span class="select">
                    <select name="channel" v-model="form.house_id" @change="showChangedHouse" required>
                        <option v-for="(house, index) in $root.my_houses" :value="house.id" :key="index">{{house.name}}</option>
                    </select>
                </span>
                <span class="control" v-if="isShowHouse">

                    <button class="button" @click="destroyHouse()">Hủy</button>
                </span>
            </p>
            <div class="column is-9" v-if="houseSelected">
                <p slot="address" class="house-body">- Địa chỉ:
                    <strong>{{ houseSelected.address }}</strong>
                </p>
                <p slot="body" class="thread-body">
                    <gmap-map :center="housePosition" :zoom="15" style="width:750px;  height: 250px;">
                        <gmap-marker :position="housePosition" @click="center=housePosition"></gmap-marker>
                    </gmap-map>
                </p>
            </div>
        </div>

        <div class="field is-grouped" style="margin-top: 20px">
            <p class="control">
                <button class="button is-primary" type="button" @click.prevent="sendPost()">Đăng</button>
            </p>
            <p class="control">
                <button class="button is-link" @click="$router.push({name: 'home'})">Hủy</button>
            </p>
        </div>
        <transition name="fade">
            <error v-if="errorMessage" :errorMessage="errorMessage" @close="errorMessage = false"></error>
        </transition>
    </div>
</template>

<script>
import Form from "../models/Form";
import isLoggedMixin from "../mixins/IsLoggedMixin";
import showNotificationsMixin from "../mixins/showNotificationsMixin";

export default {
  data() {
    return {
      channel: "cho-thue",
      form: new Form({
        title: "",
        description: "",
        body: "",
        house_id: null
      }),
      errorMessage: false,
      isShowHouse: false,
      houseSelected: null,
      housePosition: null
    };
  },
  mixins: [isLoggedMixin, showNotificationsMixin],
  beforeRouteEnter: (to, from, next) => {
    next(vm => {
      vm
        .checkIfLogged()
        .then(response => (response ? next() : next("/sign-in")))
        .catch(error => next("/"));
    });
  },
  created() {
    this.$root.path.update(this.$route.path);
  },
  methods: {
    sendPost() {
      var vm = this;
      this.form
          .post("/channels/" + this.channel + "/threads")
          .then(response =>
              vm.$router.push({
                  path: "/" + this.channel + "/" + response
              })
          )
          .catch(error => {
              let out = "";
              Object.keys(error).forEach(field => (out += error[field] + "\n"));
              this.showError(out);
          });
    },
    showChangedHouse() {
      this.houseSelected = this.$root.my_houses.filter(
        h => h.id === this.form.house_id
      )[0];
      this.housePosition = {
        lat: Number(this.houseSelected.latitude),
        lng: Number(this.houseSelected.longitude)
      };
    },
    destroyHouse() {
      this.isShowHouse = false;
      this.form.house_id = null;
    },
    showHouse() {
      this.isShowHouse = false;
    }
  },
  components: {
    house: require("../components/House.vue"),
    error: require("../components/Error.vue")
  }
};
</script>