<template>
    <div class="column is-9">
        <div class="columns">
            <div class="column is-half">
                <div class="field">
                    <h1 class="title">Đăng nhập</h1>
                </div>
                <div class="field">
                    <p class="control">
                        <input class="input" type="email" placeholder="Email" id="login-email" 
                            @keyup.enter="postLoginForm" v-model="login.email">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                        <input class="input" type="password" placeholder="Password" 
                            id="login-password" @keyup.enter="postLoginForm" v-model="login.password">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                        <label class="checkbox">
                            <input type="checkbox" v-model="login.remember" :false-value="empty" >
                            Nhớ mật khẩu
                        </label>
                    </p>
                </div>

                <div class="field is-grouped">
                    <p class="control">
                        <button class="button is-primary" @click="postLoginForm">Đăng nhập</button>
                    </p>
                    <p class="control">
                        <a class="button is-link" 
                        @click="forgotPassword = true; $scrollTo('#forgot-password', {'offset': -30});">Quên mật khẩu?</a>
                    </p>
                </div>


            </div>

            <div class="column is-half">
                <div class="field">
                    <h1 class="title">Đăng ký</h1>
                </div>
                <div class="field">
                    <p class="control">
                        <input class="input" type="text" placeholder="Username" id="register-username" v-model="register.username" required>
                    </p>
                    <!--<p class="help is-danger">This email is invalid</p>-->
                </div>
                <div class="field">
                    <p class="control">
                        <input class="input" type="email" placeholder="Email" id="register-email" v-model="register.email" required>
                    </p>
                    <!--<p class="help is-danger">This email is invalid</p>-->
                </div>

                <div class="field">
                    <p class="control">
                        <input class="input" type="password" placeholder="Password" id="register-password" v-model="register.password" required>
                    </p>
                    <!--<p class="help is-danger">This email is invalid</p>-->
                </div>

                <div class="field">
                    <p class="control">
                        <input class="input" type="password" placeholder="Verify Password" 
                            id="register-password-confirmation" v-model="register.password_confirmation" required>
                    </p>
                    <!--<p class="help is-danger">This email is invalid</p>-->
                </div>

                <div class="field is-grouped">
                    <p class="control">
                        <button class="button is-primary" @click="postRegisterForm">Đăng ký</button>
                    </p>
                </div>
            </div>
            
        </div>
        <transition name="fade">
            <div id="forgot-password">
                <div v-if="forgotPassword">
                    <div class="field">
                        <h4 class="title is-4">Quên mật khẩu</h4>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input type="email" class="input" placeholder="Địa chỉ Email" id="reset-password-email" v-model="reset.email">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button is-primary" id="reset-password-button" @click="resetPassword">Gửi link reset mật khẩu</button>
                        </p>
                    </div>
                </div>
            </div>
        </transition>
        
        <div id="messages">
            <transition name="fade">
            <success v-if="successMessage" :successMessage="successMessage" @close="successMessage = false"></success>
            </transition>
            <transition name="fade">
                <error v-if="errorMessage" :errorMessage="errorMessage" @close="errorMessage = false"></error>
            </transition>
        </div>
    </div>
</template>

<script>
    import Form from '../models/Form';
    import showNotificationsMixin from '../mixins/showNotificationsMixin';

    export default {
        data(){
            return {
                login: new Form({
                    password: '',
                    email: '',
                    remember: ''
                }),
                register: new Form({
                    password: '',
                    email: '',
                    username: '',
                    password_confirmation: ''
                }),
                reset: new Form({
                    email: ''
                }),
                empty: "",
                forgotPassword: false,
                errorMessage: false,
                successMessage: false,
            }
        },
        mixins: [showNotificationsMixin],
        created() {
            this.$root.path.update(this.$route.path);
        },
        methods: {
            checkLoginForm: function () {
                this.errors = [];

                if(this.login.email && this.login.password) return true;
                this.$scrollTo('#messages', {'offset': -250});
                if(!this.login.email) {
                    this.showError('Email trống !!!');
                    return false;
                } 
                if(!this.login.password){
                    this.showError('Mật khẩu trống !!!');
                    return false;
                } 
                
                return false;
            },
            checkRegisterForm: function () {
                this.errors = [];
                const pattern = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/igm; 
                let valid = true;

                if(!this.register.username) {
                    this.showError('Username trống !!!');
                    this.$scrollTo('#messages', {'offset': -400});
                    return false;
                }
                if(!this.register.email) {
                    this.showError('Email trống !!!');
                    this.$scrollTo('#messages', {'offset': -400});
                    return false;
                }
                if(!pattern.test(this.register.email)){
                    this.showError('Email không đúng định dạng !!!');
                    this.$scrollTo('#messages', {'offset': -400});
                    return false;
                }
                if(!this.register.password) {
                    this.showError('Password trống !!!');
                    this.$scrollTo('#messages', {'offset': -400});
                    return false;
                }
                if(!this.register.password.length) {
                    this.showError('Password ít nhất 6 ký tự !!!');
                    this.$scrollTo('#messages', {'offset': -400});
                    return false;
                }
                if(this.register.password.indexOf(' ') > 0) {
                    this.showError('Password không được có khoảng trắng !!!');
                    this.$scrollTo('#messages', {'offset': -400});
                    return false;
                }
                if(!this.register.password_confirmation) {
                    this.showError('Password Confirmation trống !!!');
                    this.$scrollTo('#messages', {'offset': -400});
                    return false;
                }

                if(this.register.password !== this.register.password_confirmation) {
                    this.showError('Password và Confirm Password không trùng nhau !!!');
                    this.$scrollTo('#messages', {'offset': -400});
                    return false;
                }
                

                return true;
            },
            postLoginForm(){
                var vm = this;
                if (this.checkLoginForm()) {
                    this.login.post('/login')
                    .then(response => {
                        vm.$root.user = response.user;
                        vm.$router.push({name: 'home'});
                    })
                    .catch(error => {
                        let out = '';
                        Object.keys(error).forEach(field => out += error[field] +'\n' );
                        this.showError(out);
                        this.$scrollTo('#messages', {'offset': -250});
                        
                    });
                } 
            },
            postRegisterForm(){
                var vm = this;
                if(this.checkRegisterForm()) {
                    if (this.register.password != this.register.password_confirmation) return;
                    this.register.post('/register')
                        .then(response => {
                            vm.$root.user = response.user;
                            vm.$router.push('/');
                        })
                        .catch(error => {
                            let out = 'LỖI: ';
                            Object.keys(error).forEach(field => out += error[field] +'\n' );
                            this.showError(out);
                            this.$scrollTo('#messages', {'offset': -400});
                        });
                }
            },
            resetPassword() {
                this.reset.post('/password/email')
                    .then(response => {
                        this.showSuccess(response);   
                        this.reset.reset();      
                            
                    })
                    .catch(error => {
                        let out = '';
                        Object.keys(error).forEach(field => out += error[field] +'\n' );
                        this.showError(out);                        
                    });
            }
        },
        components: {
            'error': require('../components/Error.vue'),
            'success': require('../components/Success.vue')
        }
        
    }
</script>