<template>
    <div class="column is-9">
        <paginate v-if="totalRecord > perPage" :current="currentPage" :perPage="perPage" :posts="totalRecord"
            @pageClicked="currentPage = $event; this.VueScrollTo.scrollTo('.column.is-9');" >
        </paginate>
        <h3 class="title is-3" v-if="totalRecord">{{channelTitle}}</h3>
        <thread v-for="(thread, index) in threads" :key="index" @clicked="goToThread(thread)" :thread="thread">
            <a>{{thread.title}}</a>
            <router-link slot="channel" :to="thread.channel.slug" class="channel-link">{{thread.channel.name}}</router-link>
            <p slot="body">{{thread.body | truncate(200)}}</p>
        </thread>
        <paginate v-if="totalRecord > perPage" :current="currentPage" :perPage="perPage" :posts="totalRecord"
            @pageClicked="currentPage = $event; this.VueScrollTo.scrollTo('.column.is-9');" >
        </paginate>
    </div>
</template>

<script>
import Thread from "../models/Thread";
import isLoggedMixin from "../mixins/IsLoggedMixin";
var VueScrollTo = require("vue-scrollto");

export default {
  data() {
    return {
      threads: [],
      isLogged: false,
      channel: this.$route.params.channel,
      currentPage: 1,
      perPage: 10,
      totalRecord: 0,
      channelTitle: ""
    };
  },
  watch: {
    $route: function() {
      this.channel = this.$route.params.channel;
      this.threads = [];
      this.currentPage = 1;
      this.getThreads();
      this.$root.path.update(this.$route.path);
    },
    currentPage() {
      this.getThreads();
    }
  },
  mixins: [isLoggedMixin],

  created() {
    this.getThreads();
    this.checkIfLogged()
      .then(response => (this.isLogged = response))
      .catch(error => {
        this.isLogged = false;
        console.log(error);
      });
    this.$root.path.update(this.$route.path);
  },
  methods: {
    getThreads() {
      var vm = this;
      this.threads = [];
      axios
        .get(
          "/channels/" +
            vm.channel +
            "/threads/" +
            this.perPage +
            "?page=" +
            this.currentPage
        )
        .then(response => {
          response.data.data.forEach(thread => {
            vm.threads.push(new Thread(thread));
          });
          this.totalRecord = response.data.total;
          this.channelTitle = response.data.data[0].channel.name;
        })
        .catch(error => console.log(error));
    },

    goToThread(thread) {
      this.$router.push({ path: "/" + this.channel + "/" + thread.slug });
    },

    createNewThread() {
      this.$router.push({ path: "/" + this.channel + "/new-thread" });
    }
  },
  components: {
    thread: require("../components/Thread.vue"),
    paginate: require("../components/Paginate.vue")
  }
};
</script>