<template>
    <div class="column is-9" v-if="thread">
        <thread :thread="thread">{{thread.title}}
            <p slot="body" class="thread-body" v-html="markdown(thread.body)"></p>
            <template class="thread-body" slot="house" v-if="thread.house">
                <strong>
                    <a @click="gotoHouse(thread.house)" class="created-by" style="color: #00d1b2"><fa-icon icon="home" /> @{{ thread.house.name }}</a>
                </strong>
                <p slot="address" class="house-body">- Địa chỉ:
                    <strong>{{ thread.house.address }}</strong>
                </p>
                <p slot="price" class="house-body">- Giá:
                    <strong>{{ thread.house.price }} VNĐ /{{ thread.house.price_time_unit }}</strong>
                </p>
                <p slot="body" class="thread-body">
                    <google_map :name="thread.house.name" :marker-coordinates="[{latitude: thread.house.latitude, longitude: thread.house.longitude}]"></google_map>
                </p>
            </template>
        </thread>
        <new-reply v-if="isLogged && $root.username" :thread="threadPath" @posted="newReply" @error="showError($event); $scrollTo('#new-reply-button')"></new-reply>
        <reply v-if="thread.replies" v-for="(reply, index) in thread.replies.slice(0+perPage*(currentPage-1), perPage*currentPage)"
            :reply="reply" :key="index" @delete="deleteReply" @remove="removeReply" @edit="editReply">
            <p class="reply-creator" slot="username">
                <router-link :to="'/@'+reply.creator.username">{{reply.creator.username}}</router-link>
            </p>
            
            <template slot="body" class="reply-body">
                <p class="reply-body" slot="body" v-html="markdown(reply.body)"></p>
                <strong v-if="reply.house_id">
                    <a @click="gotoHouse(reply.house)" class="created-by" style="color: #00d1b2"> <fa-icon icon="arrow-right" style="color: red;"/><fa-icon icon="home" /> @{{ reply.house.name }}</a>
                </strong>
            </template>
        </reply>
        <paginate v-if="thread.replies.length > perPage" :current="currentPage" :perPage="perPage" :posts="thread.replies.length"
            @pageClicked="currentPage = $event; this.VueScrollTo.scrollTo('.replies');">
        </paginate>
        <hr>
        <transition name="fade">
            <error v-if="errorMessage" :errorMessage="errorMessage" @close="errorMessage = false"></error>
        </transition>
    </div>
</template>

<script>
import ThreadWithReplies from "../models/ThreadWithReplies";
import isLoggedMixin from "../mixins/IsLoggedMixin";
import showNotificationsMixin from "../mixins/showNotificationsMixin";

export default {
  data() {
    return {
      thread: null,
      threadPath: this.$route.params.thread,
      channel: this.$route.params.channel,
      isLogged: false,
      currentPage: 1,
      perPage: 10,
      errorMessage: false
    };
  },

  mixins: [isLoggedMixin, showNotificationsMixin],

  created() {
    this.getThread();
    this.checkIfLogged()
      .then(response => {
        this.isLogged = response ? response.username : false;
      })
      .catch(error => {
        this.isLogged = false;
        console.log(error);
      });
    this.$root.path.update(this.$route.path);
  },
  methods: {
    getThread() {
      var vm = this;

      axios
        .get("/channels/" + this.channel + "/" + this.threadPath)
        .then(response => {
          if (response.data)
            vm.thread = new ThreadWithReplies(
              response.data
            );
          vm.thread["replies_count"] = vm.thread.replies.length;
        })
        .catch(error => console.log(error));
    },
    deleteReply(replyId) {
      axios
        .delete("/replies/" + replyId)
        .then(response => this.getThread())
        .catch(error => {
          this.showError(error);
          this.$scrollTo("#new-reply-button");
        });
    },
    removeReply(replyId) {
      axios
        .delete("/admin/replies/" + replyId)
        .then(response => this.getThread())
        .catch(error => {
          this.showError(error);
          this.$scrollTo("#new-reply-button");
        });
    },
    editReply(replyMessage, replyHouse, replyId) {
      axios
        .patch("/replies/" + replyId, {
          body: replyMessage,
          house_id: replyHouse
        })
        .catch(error => {
          this.showError(error);
          this.$scrollTo("#new-reply-button");
        });
      let replyChanged = this.thread.replies.filter(r => r.id == replyId)[0];
      replyChanged.body = replyMessage;
      if (replyChanged.house_id != null || replyHouse != null) {
        const houseChanged = this.$root.my_houses.filter(mh => mh.id == replyHouse);
        if (houseChanged.length > 0) {
          replyChanged.house_id = replyHouse;
          replyChanged.house = houseChanged[0];
        } else {
          replyChanged.house_id = null;
          replyChanged.house = null;
        }
        this.thread.replies.filter(r => r.id == replyId)[0] = replyChanged;
      }
    },
    markdown(text) {
      if(text == null) text = "";
      return marked(text, {
        sanitize: true
      });
    },

    newReply() {
      var vm = this;
      axios
        .get("/channels/" + this.channel + "/" + this.threadPath)
        .then(response => {
          if (response.data) {
            vm.thread = new ThreadWithReplies(response.data);
            vm.thread["replies_count"] = this.thread.replies.length;
          }
        })
        .catch(error => console.log(error));
    },
    gotoHouse(house) {
      this.$router.push({
        path: "/house/" + house.house_type.slug + "/" + house.slug
      });
    }
  },
  components: {
    thread: require("../components/Thread.vue"),
    reply: require("../components/Reply.vue"),
    newReply: require("../components/NewReply.vue"),
    paginate: require("../components/Paginate.vue"),
    error: require("../components/Error.vue"),
    google_map: require("../components/GoogleMap/Marked.vue"),
    house: require("../components/House.vue")
  }
};
</script>