<template>
    <div class="column is-9">
        <div class="tabs is-centered is-boxed">
            <ul>
                <router-link tag="li" :to="{ name: 'admin-users' }">
                    <a>Người dùng</a>
                </router-link>
                <router-link  tag="li" :to="{ name: 'admin-threads' }"><a>Bài viết</a></router-link>
                <router-link  tag="li" :to="{ name: 'admin-replies' }"><a>Phản hồi</a></router-link>
                <router-link  tag="li" :to="{ name: 'admin-channels' }"><a>Chủ đề</a></router-link>
            </ul>
        </div>
        <div class="columns admin-main">
            <div class="column is-9">
                <channel v-if="!showFormNewChannel" v-for="(channel, index) in channelToShow" :channel="channel" :key="index" @delete="deleteChannel"></channel>
                <new-channel v-if="showFormNewChannel" @success="createdChannel"></new-channel>
            </div>
            <div class="column is-3" id="filter">
                <input type="text" id="filter-input" class="input" placeholder="Lọc theo tên..." v-model="filterKey">
                <p></p>
                <p>
                    <button class="button is-primary" @click="showFormNewChannel = !showFormNewChannel">
                        Chủ đề mới
                    </button>
                </p>
            </div>
        </div>
        <div id="messages">
            <transition name="fade">
                <error v-if="errorMessage" :errorMessage="errorMessage" @close="errorMessage = false"></error>
            </transition>
        </div>
    </div>
</template>

<script>
    import Channel from '../../models/Channel';
    import showNotificationsMixin from '../../mixins/showNotificationsMixin'

    export default {
        data() {
            return {
                channels: [],
                filterKey: '',
                currentPage: 1,
                perPage: 20,
                errorMessage: '',
                showFormNewChannel: false,
            }
        },
        mixins: [showNotificationsMixin],
        beforeRouteEnter: (to, from, next) => {
            next(vm => {
                vm.$root.user.isAdmin ? next() : next('/');
            });
        },
        created() {
            this.$root.path.update(this.$route.path);
            this.getChanels();
        },
        methods: {
            getChanels() {
                axios.get('channels')
                    .then(response => {
                        response.data.forEach(channel => this.channels.push(new Channel(channel)));
                    })
                    .catch(error => console.log(error.response.data))
            },
            deleteChannel(channelSlug) {
                axios.delete('admin/channels/'+channelSlug)
                    .then(response => {
                        this.channels = [];
                        this.getChanels();
                    })
                    .catch(error => {
                        let out = '';
                        Object.keys(error.response.data).forEach(field => out += error.response.data[field] +'\n' );
                        this.showError(out);
                        this.$scrollTo('#messages', {'offset': -30});
                    })
            },
            createdChannel (res) {
                this.showFormNewChannel = !this.showFormNewChannel;
                this.channels.push(new Channel(res));
            }
        },
        computed: {
            channelToShow(){
                let toShow = [];
                this.channels.forEach(channel => {
                    if (channel.name.toLowerCase().match(this.filterKey.toLowerCase())) toShow.push(channel);
                });
                return toShow;
            }
        },
        components: {
            'paginate': require('../../components/Paginate.vue'),
            'new-channel': require('../../components/admin/NewChannel'),
            'channel': require('../../components/admin/Channel'),
            'error': require('../../components/Error')
        }
    }
</script>