<template>
    <div class="column is-9">
        <div class="tabs is-centered is-boxed">
            <ul>
                <router-link tag="li" :to="{ name: 'admin-users' }">
                    <a>Người dùng</a>
                </router-link>
                <router-link  tag="li" :to="{ name: 'admin-threads' }"><a>Bài viết</a></router-link>
                <router-link  tag="li" :to="{ name: 'admin-replies' }"><a>Phản hồi</a></router-link>
                <router-link  tag="li" :to="{ name: 'admin-channels' }"><a>Chủ đề</a></router-link>
            </ul>
        </div>
        <div class="columns admin-main">
            <div class="column is-9">
                <paginate v-if="totalRecords > perPage" :current="currentPage" :perPage="perPage" :posts="totalRecords"
                    @pageClicked="currentPage = $event; this.VueScrollTo.scrollTo('.column.is-9');" >
                </paginate>
                <reply v-for="(reply, index) in repliesToShow" :reply="reply" :key="index" @delete="deleteReply"></reply>
            </div>
            <div class="column is-3" id="filter">
                <input type="text" id="filter-input" class="input" placeholder="Lọc theo tên người dùng..." v-model="filterKey">
            </div>
        </div>
        <div id="messages">
            <transition name="fade">
                <error v-if="errorMessage" :errorMessage="errorMessage" @close="errorMessage = false"></error>
            </transition>
        </div>
    </div>
</template>

<script>
    import Reply from '../../models/Reply';
    import showNotificationsMixin from '../../mixins/showNotificationsMixin'

    export default {
        data() {
            return {
                replies: [],
                filterKey: '',
                currentPage: 1,
                perPage: 20,
                errorMessage: '',
                totalRecords: 0,
            }
        },
        mixins: [showNotificationsMixin],
        created() {
            this.$root.path.update(this.$route.path);
            this.getReplies();
        },
        beforeRouteEnter: (to, from, next) => {
            next(vm => {
                vm.$root.user.isAdmin ? next() : next('/');
            });
        },
        watch: {
            currentPage () {
                this.getReplies();
            }
        },
        methods: {
            getReplies() {
                this.replies = [];
                axios.get('replies/'+this.perPage+'?page='+this.currentPage)
                    .then(response => {
                        response.data.data.forEach(reply => this.replies.push(new Reply(reply)));
                        this.totalRecords = response.data.total;
                    })
                    .catch(error => console.log(error.response.data))
            },
            deleteReply(replyId) {
                axios.delete('admin/replies/'+replyId)
                    .then(response => {
                        this.replies = [];
                        this.getReplies();
                    })
                    .catch(error => {
                        let out = '';
                        Object.keys(error.response.data).forEach(field => out += error.response.data[field] +'\n' );
                        this.showError(out);
                        this.$scrollTo('#messages', {'offset': -30});
                    })
            }
        },
        computed: {
            repliesToShow(){
                let toShow = [];
                this.replies.forEach(reply => {
                    if (reply.creator.username.toLowerCase().match(this.filterKey.toLowerCase())) toShow.push(reply);
                });
                return toShow;
            }
        },
        components: {
            'paginate': require('../../components/Paginate.vue'),
            'reply': require('../../components/admin/Reply'),
            'error': require('../../components/Error')
        }
    }
</script>