<template>
    <div class="container" v-if="replies">
        <div v-for="(reply, index) in replies" :key="index">
            <p v-if="reply.thread" class="color-text-lightest mb-1"><a href="#">{{profile.user.username}}</a> đã phản hồi trên <a href="#">{{reply.thread.title}}</a> | {{reply.created_at}}</p>
            <div class="content">
                <p>{{reply.body}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['profile'],
        data(){
            return {
                replies: null
            }
        },
        created(){
            this.getReplies();
        },

        methods: {
            getReplies(){
                axios.get('/replies/' + this.profile.user.username)
                     .then(response => this.replies = response.data)
                     .catch(error => console.log(error.response.data))
            }
        }

    }
</script>