<template>
    <div v-if="form" class="edit-profile">
        <div class="columns">
            <div class="column is-9">
                <article class="media">
                    <figure class="image is-128x128">
                        <img :src="this.imageSrc || this.form.avatar">
                    </figure>
                    <div class="media-content">
                        <div class="content" id="profile-username">
                            <label class="button is-primary" id="add-new-avatar-label" for="add-new-avatar">Browse...</label>
                            <input type="file" class="input" id="add-new-avatar" @change="newAvatar">
                            <button type="button" id="submit-avatar" class="button is-default" @click="postAvatar">Cập nhật ảnh đại diện</button>
                        </div>
                    </div>
                </article>
            </div>
            
        </div>
        <div class="field">
            <label class="label">Tên</label>
            <p class="control">
                <input type="text" class="input" id="profile-name-input" placeholder="Tên / biệt danh ..." v-model="form.name" required>
            </p>
        </div>

        <div class="field">
            <label class="label">Số điện thoại</label>
            <p class="control">
                <input type="text" class="input" id="profile-phone-input" placeholder="Điện thoại liên lạc ..." v-model="form.phone">
            </p>
        </div>

        <div class="field">
            <label class="label">Giới thiệu bản thân</label>
            <p class="control">
                <textarea id="profile-bio-textarea" class="textarea" placeholder="Giới thiệu bản thân ..." v-model="form.bio"></textarea>
            </p>
        </div>
        <div class="field">
            <label class="label">Địa chỉ</label>
            <p class="control">
                <input type="text" class="input" id="profile-location-input" placeholder="Địa chỉ ..." v-model="form.location">
            </p>
        </div>
        <div class="field is-grouped">
            <p class="control">
                <button class="button is-primary" @click="submitChanges">Lưu</button>
            </p>
            <p class="control">
                <button class="button is-link" @click="resetFields">Hủy lưu</button>
            </p>
        </div>
        <hr>
        <div class="field">
            <label class="label">Đổi mật khẩu</label>
        </div>
        <div class="field">
            <input type="password" id="edit-password-current" class="input" v-model="passwordForm.oldPassword" placeholder="Mật khẩu hiện tại..." required>
        </div>
        <div class="field">
            <input type="password" id="edit-password-new" class="input" v-model="passwordForm.password" placeholder="Mật khẩu mới, ít nhất 6 ký tự..." required>
        </div>
        <div class="field">
            <input type="password" id="edit-password-confirmation" class="input" v-model="passwordForm.password_confirmation" placeholder="Xác nhận mật khẩu..." required>
        </div>
        <div class="field is-grouped">
            <p class="control">
                <button class="button is-danger" @click="changePassword">Đổi mật khẩu</button>
            </p>
            <p class="control">
                <button class="button is-link" 
                    @click="passwordForm.reset()">Hủy</button>
            </p>
        </div>
        <div id="message">
            <transition name="fade">
                <success v-if="successMessage" :successMessage="successMessage" @close="successMessage = false"></success>
            </transition>
            <transition name="fade">
                <error v-if="errorMessage" :errorMessage="errorMessage" @close="errorMessage = false"></error>
            </transition>
        </div>
    </div>
</template>

<script>
    import Form from '../../models/Form';
    import showNotificationsMixin from '../../mixins/showNotificationsMixin';

    export default {
        props: ['profile'],
        data() {
            return {
                form: new Form({
                    name: this.profile.name,
                    phone: this.profile.phone,
                    bio: this.profile.bio,
                    location: this.profile.location,
                    avatar: this.profile.avatar
                }),
                passwordForm: new Form({
                    oldPassword: null,
                    password: null,
                    password_confirmation: null
                }),
                avatar: null,
                imageSrc: null,
                errorMessage: false,
                successMessage: false
            }
        },
        mixins: [showNotificationsMixin],
        methods: {
            submitChanges() {
                if(this.form.name) {
                    this.form.patch('/profile')
                        .then(response => this.$emit('changesSaved'))
                        .catch(error => {
                            let out = '';
                            Object.keys(error).forEach(field => out += error[field] +'\n' );
                            this.showError(out);
                            this.$scrollTo('#message', {'offset': -400});
                        });
                } else {
                    this.showError('Xin nhập tên / biệt danh người sử dụng');
                    this.$scrollTo('#message', {'offset': -400});
                }
                
            },

            resetFields() {
                this.form = new Form(this.form.originalData);
            },

            // See live rapresentation of the new avatar before submitting.
            newAvatar(event) {
                let files = event.target.files;
                if (files.length) this.avatar = files[0];
                var file = event.target.files[0];

                var reader = new FileReader();
                var vm = this;

                reader.onload = function(e) {
                    vm.imageSrc = e.target.result;
                }

                reader.readAsDataURL(file);
            },

            postAvatar(){
                if(this.avatar) {
                    let data = new FormData()
                    data.set('avatar', this.avatar)
                    axios.post('/profile/avatar', data)
                        .then(response => this.$emit('changesSaved'))
                        .catch(error => {
                            let out = '';
                            Object.keys(error).forEach(field => out += error[field] +'\n' );
                            this.showError(out);
                            this.$scrollTo('#message', {'offset': -400});
                        });
                } else {
                    this.showError('Bạn chưa chọn hình!');
                    this.$scrollTo('#message', {'offset': -400});
                }
                
            },

            changePassword(){
                if(this.checkPasswordForm()) {
                    this.passwordForm.patch('/user/password')
                        .then(response => {
                            this.showSuccess(response);
                            this.passwordForm.reset();
                        })
                        .catch(error => {
                            let out = '';
                            console.log(error);
                            Object.keys(error).forEach(field => out += error[field] +'\n' );
                            this.showError(out);
                        });
                } else {
                    this.$scrollTo('#message', {'offset': -400});
                }
                
            },
            checkPasswordForm() {
                if(!this.passwordForm.oldPassword || 
                !this.passwordForm.password || 
                !this.passwordForm.password_confirmation) {
                    this.showError('Xin nhập đủ thông tin');
                    return false;
                }
                if(this.passwordForm.password.length < 6) {
                    this.showError('Mật khẩu tối thiểu 6 ký tự');
                    return false;
                }
                if(this.passwordForm.password != this.passwordForm.password_confirmation) {
                    this.showError('Xác thực mật khẩu không đúng');
                    return false;
                }

                return true;
            }

        },
        components: {
            'error': require('../Error.vue'),
            'success': require('../Success.vue')
        }
        
    }
</script>