<template>
  <div class="container">
    <div class="container">
      <strong style="margin-bottom: 1em">Hiện tại bạn có {{ houses.length }} địa điểm có thể sử dụng quảng bá!</strong> <br/>
      <button class="button is-primary" @click="showAddNewHouse()">
        Thêm địa điểm
      </button>
    </div>
    <hr>
    <div class="media-content content" style="max-width: 750px" v-for="(house, index) in houses" :key="index" :house="house" v-if="!isShowAddNewHouse">
      <a class="title is-4 thread-title" @click="goToHouse(house)">{{ index + 1 }}. {{ house.name }}</a> <br/>
      <p style="margin-bottom: -0.1em">- Địa chỉ: <strong>{{ house.address }}</strong><p>
      <router-link slot="house" :to="'/channels/house_type/' + house.house_type.slug" class="house-link">{{house.house_type.name}}</router-link>
      <p slot="body" class="thread-body">
        <google_map :name="house.name" :marker-coordinates="[{latitude: house.latitude, longitude: house.longitude}]"></google_map>
      </p>
      <hr>
    </div>
    <new_house v-if="isShowAddNewHouse" @complete="onAddNewHouse" @destroy="this.isShowAddNewHouse = false;"></new_house>
  </div>
</template>

<script>
  export default {
    props: ["profile"],
    data() {
      return {
        houses: null,
        isShowAddNewHouse: false
      };
    },
    computed: {},
    created() {
      this.houses = this.profile.user.houses;
    },

    methods: {
      goToHouse(house) {
        this.$router.push({
          path: "/house/" + house.house_type.slug + "/" + house.slug
        });
      },
      markdown(text) {
        return marked(text, {
          sanitize: true
        });
      },
      showAddNewHouse () {
        this.isShowAddNewHouse = !this.isShowAddNewHouse;
      },
      onAddNewHouse (event) {
        this.isShowAddNewHouse = false;
        this.getHouseOfMine();
      },
      getHouseOfMine() {
          var vm = this;
          axios.get('/houses/*', {
              params: {
                  by: vm.$root.username
              }
          }).then(res => {
              this.houses = res.data;
          }).catch(error => {
              let out = '';
                  Object.keys(error).forEach(field => out += error[field] + '\n');
                  this.showError(out);
          })
      }
    },
    components: {
      house: require("../House.vue"),
      google_map: require("../GoogleMap/Marked.vue"),
      new_house: require("./NewHouse.vue"),
    }
  };
</script>