<template>
    <div class="column is-9">
        <div class="field">
            <label class="label">Tên </label>
            <p class="control">
                <input autocomplete="off" v-model="form.name" class="input" type="text" placeholder="Tên nhà..." name="name" required>
            </p>
        </div>
        <div class="field">
            <label class="label">Kiểu cho thuê </label>
            <p class="control">
                <select v-model="form.house_type_id" class="input">
                    <option v-for="(house_type, index) in house_types" :key="index" :value='house_type.slug'>
                        {{house_type.name}}
                    </option>
                </select>
            </p>
        </div>
        <div class="field">
            <label class="label">Địa chỉ</label>
            <gg-maps-autocomplete @complete="chooseLatAndLng"></gg-maps-autocomplete>
        </div>
        <div class="field">
            <label class="label">Diện tích (m2) </label>
            <p class="control">
                <input autocomplete="off" @scroll="event.preventDefault()" v-model="form.area" class="input" type="number" min="1" placeholder="Diện tích..." name="area"
                    required>
            </p>
        </div>
        <div class="field">
            <label class="label">Giá (VND) </label>
            <p class="control">
                <input autocomplete="off" @scroll="event.preventDefault()" v-model="form.price" style="max-width: 500px" class="input" type="number" min="1" placeholder="VND..."
                    name="price" required>
                <span class="select">
                    <select name="channel" v-model="form.price_time_unit">
                        <option value='năm'>/năm</option>
                        <option value='tháng' selected="selected">/tháng</option>
                        <option value='ngày'>/ngày</option>
                        <option value='giờ'>/giờ</option>
                    </select>
                </span>
            </p>
        </div>
        <div class="field">
            <label class="label">Các thông tin thêm</label>
            <p class="control">
                <textarea v-model="form.other" class="textarea" placeholder="Wifi, nhà để xe, ..." name="other"></textarea>
            </p>
        </div>
        <div class="field is-grouped">
            <p class="control">
                <button class="button is-primary" type="button" @click.prevent="sendPost()">Tạo</button>
            </p>
            <p class="control">
                <button class="button is-link" @click="$emit('destroy', false)">Hủy</button>
            </p>
        </div>
        <transition name="fade">
            <error v-if="errorMessage" :errorMessage="errorMessage" @close="errorMessage = false"></error>
        </transition>
    </div>
</template>

<script>
import Form from "../../models/Form";
import isLoggedMixin from "../../mixins/IsLoggedMixin";
import showNotificationsMixin from "../../mixins/showNotificationsMixin";

export default {
  data() {
    return {
      form: new Form({
        name: "",
        address: "",
        area: null,
        price: null,
        price_time_unit: "tháng",
        house_type_id: "day-tro",
        other: "",
        user_id: null,
        latitude: "",
        longitude: ""
      }),
      errorMessage: false,
      house_types: []
    };
  },
  mixins: [isLoggedMixin, showNotificationsMixin],
  beforeRouteEnter: (to, from, next) => {
    next(vm => {
      vm.$root.user.isAdmin ? next() : next("/");
    });
  },
  created() {
    this.$root.path.update(this.$route.path);
    this.house_types = this.$root.house_types;
  },
  methods: {
    sendPost() {
      this.form.user_id = this.$root.user.username;

      var vm = this;
      this.form
        .post("/house_types/" + this.form.house_type_id + "/houses")
        .then(response => {
            this.$root.getHouseOfMine();
          this.$emit("complete", true);
        })
        .catch(error => {
          let out = "";
          Object.keys(error).forEach(field => (out += error[field] + "\n"));
          this.showError(out);
        });
    },
    chooseLatAndLng(e) {
      this.form.latitude = e.position.lat;
      this.form.longitude = e.position.lng;
      this.form.address = e.address;
    }
  },
  components: {
    error: require("../../components/Error.vue"),
    "gg-maps-autocomplete": require("../GoogleMap/Auto-complete")
  }
};
</script>