<template>
    <div class="view-profile ">
        <div class="columns">
            <div class="column is-9">
                <article class="media">
                    <figure class="image is-128x128">
                        <img id="avatar" :src="profile.avatar">
                    </figure>
                    <div class="media-content">
                        <div v-if="profile" class="content" id="profile-username">
                            <p class="title is-4 username">
                                {{profile.user.username}}
                            </p>
                            <p class="subtitle profile-name" v-if="profile.name">
                                {{profile.name}} - {{profile.phone}}
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <nav class="level" id="profile-infos" v-if="profile.user">
            <div class="level-item">
                    <h4> Thời gian tạo TK <strong>{{profile.user.created_at | fromNow}}</strong></h4>
                </div>
                <div class="level-item">
                    <h4> Địa chỉ <strong>{{profile.location}}</strong></h4>
                </div>
                <div class="level-item">
                    <h4> <strong>{{profile.user.threads_count}}</strong> bài viết được tạo</h4>
                </div>
                <div class="level-item">
                    <h4> <strong>{{profile.user.replies_count}}</strong> phản hồi</h4>
                </div>
        </nav>
        <hr>
        <h5 class="title is-5" id="profile-bio" v-for="(line, index) in lineBreaked" :key="index">{{line}}</h5><br>
        <hr>
        <div v-if="profile.user">
            <div class="columns" v-for="(replies, day) in repliesByMonth" :key="replies.id">
                <div class="column is-2">
                    {{day}}
                </div>
                <div class="column is-10">
                    <div v-for="(reply, index) in replies" :key="index">
                        <p v-if="reply.thread" class="color-text-lightest mb-1">
                            Phản hồi trên
                            <strong><router-link :to="'/' + reply.thread.channel.slug + '/' + reply.thread.slug">
                                {{reply.thread.title}}
                            </router-link></strong> | <strong>{{reply.updated_at | fromNow}}</strong>
                        </p>
                        <br>
                        <div class="content">
                            <p v-html="markdown(reply.body)"></p>
                        </div>
                        <hr>    
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
// var marked = require('marked');

export default {
  props: ["profile"],
  computed: {
    registered() {
      return this.profile.created_at;
    },
    repliesByMonth() {
      let replies = {};
      this.profile.user.replies.forEach(reply => {
        let time = moment(reply.created_at).format("D MMM YYYY");
        replies.hasOwnProperty(time)
          ? replies[time].push(reply)
          : (replies[time] = [reply]);
      });
      return replies;
    },
    lineBreaked () {
        return (this.profile.bio || "").split('\n');
    }
  },
  methods: {
    markdown(text) {
        if(text === null) text = "";
      return marked(text, { sanitize: true });
    }
  }
};
</script>